<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Auction</title>
</head>
<body>
  <h1>Auction for <%= product.productName %></h1>
  <p>Username: <span id="username"><%= username %></span></p>
  <p>Current highest bid: <span id="highest_bid"><%= product.highestBid %></span></p>
  <p>Current highest bidder: <span id="highest_bidder"><%= product.highestBidder %></span></p>
  
  <h2>Submit your bid</h2>
  <input id="bidAmount" type="number" min="0" step="0.01" placeholder="Enter your bid amount">
  <button id="submit_bid_button">Submit bid</button>
  <script src="/auction.js"></script>
</body>
</html>
