<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>

<body>
    <h1>로그인</h1>
    <form action="/login" method="POST">
        <label for="USER_EMAIL">이메일:</label>
        <input type="email" id="USER_EMAIL" name="USER_EMAIL" required>
        <br>

        <label for="USER_PW">비밀번호:</label>
        <input type="password" id="USER_PW" name="USER_PW" required>
        <br>

        <button type="submit">로그인</button>
    </form>
    <p>아직 회원이 아니신가요? <a href="/signup">회원가입</a></p>
</body>

</html>
