<!DOCTYPE html>
<html>
<head>
  <title>로그인</title>
  <script src="https://apis.google.com/js/api.js"></script>
  <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
    <h1>로그인</h1>
    <form action="/login" method="POST">
        <label for="USER_EMAIL">이메일:</label>
        <input type="email" id="USER_EMAIL" name="USER_EMAIL" required>
        <br>

        <label for="USER_PW">비밀번호:</label>
        <input type="password" id="USER_PW" name="USER_PW" required>
        <br>

        <button type="submit">로그인</button>
    </form>
    <p>아직 회원이 아니신가요? <a href="/signup">회원가입</a></p>
  <!-- 구글 로그인 버튼 -->
  <div class="g-signin2" data-onsuccess="onSignin"></div>

  <script>
    const handleSignin = async (googleUser) => {
      try {
        const idToken = googleUser.getAuthResponse().id_token;
        const response = await fetch('/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ idToken }),
        });

        if (response.status === 200) {
          // 로그인 성공 처리
          const data = await response.json();
          console.log(data.message);
        } else {
          // 로그인 실패 처리
          console.error('Google 로그인에 실패했습니다.');
        }
      } catch (error) {
        console.error(error);
      }
    };

    window.onSignin = (googleUser) => {
      handleSignin(googleUser);
    };
  </script>
</body>
</html>
